h1{
    color: rgb(43, 231, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: rgb(100, 100, 192);
    background-color: rgb(243, 243, 243);
}
html{
    background-color: rgb(60, 66, 66);
}
ul{
    background-color: rgb(103, 141, 179);
    
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #424040;
    overflow: auto;
  }
 
  
  /* Current/active navbar link */
  .active {
    background-color: #0a32b4;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  img {
    width: 230px;
    border-radius: 50px;
  }
  
  

h

/* Dropdown button */
.dropdown .dropbtn {

  font-size: 30px;
  border: none;
  outline: none;
  color: rgb(55, 96, 148);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */

  color: rgb(66, 245, 245);